


        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
        }

        p {
            text-align: center;
        }
        
        nav {
            background-color: #333;
            padding: 20px;
        }

        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
        }

        nav li {
            margin-right: 50px;
        }

        nav a {
            text-decoration: none;
            color: white;
            font-size: 20px;
        }

        nav a:hover {
            text-decoration: underline;
        }
        
        .container {
  width: 80%; /* Define a largura do container */
  height: 400px; /* Define a altura do container */
  padding: 20px; /* Define a margem interna do container */
  margin: 20px auto; /* Define a margem externa do container (esquerda, direita) */
  background-color: rgba(173, 216, 230, 0.5); /* lightblue com 50% de opacidade */
  border: 1px solid black; /* Define uma borda */
        } 

body {
  background-image: url("esporte.jpg"); /* Substitua pelo caminho correto da sua imagem */
  background-size: cover; /* Para a imagem cobrir toda a tela, ou use contain para manter proporções */
  background-repeat: no-repeat; /* Para evitar que a imagem seja repetida */
  background-position: center; /* Para centralizar a imagem */
}
